---
 const personalImageAlt = "Enrique Luis"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Enrique Luis, I'm 23 years old and I am from La Paz, Bolivia. <strong
        >FullStack Developer</strong
      >.
    </p>

    <p>
      I'm looking for new challenges in application development. I am passionate about seeing how a <strong
        >idea comes to life through programming. </strong
      >And following their progress is one of the most rewarding things I enjoy doing.
    </p>

    <p>
      In my last internship I actively participated with my team.<strong
        > I'm always learning new things</strong> and everything I don't know yet is one more opportunity to discover.  
        
    </p>
  </div>

  <img width="200" height="200" src="/logoPortafolio.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
